{{ define "main" }}
<style>
	a {
		color: black;
	}
</style>

<main id="main">

	<div class="container">

		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">
 				<article class="post">
					<header class="entry-header">
 						<div class="entry-meta">
 						</div>
 						<h1 class="entry-title">
							<a href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
						</h1>
					</header>
					<div class="entry-content">
						<div>
							<h2>Periods</h2>
							<li>
								{{range .Params.Periods}}
								<a href="/periods/{{. | urlize}}" class="navbar-default">{{ . }}</a>
								{{end}}
							</li>
						</div>
						<div>
							<h2>Composers</h2>
							<li>
								{{range .Params.Composers}}
								<a href="/composers/{{. | urlize}}">{{ . }}</a>
								{{end}}
							</li>
						</div>
						<p>
							{{ if ne .Params.Wikipedia nil }}
							<a href="{{ .Params.Wikipedia}}">Wikipedia Introduction</a>
							{{ end }}
						</p>
						<div>
							<h2>Music</h2>
							{{ if ne .Params.audioURL nil }}
							<midi-player
								src="{{ .Params.audioURL }}"
								sound-font visualizer="#myVisualizer">
							</midi-player>
							<midi-visualizer
								src="{{ .Params.audioURL }}"
								type="waterfall" id="myVisualizer">
							</midi-visualizer>
							{{ end }}
						</div>
						<div>
							<h2></h2>
							<h2>Please help providing feedback! Thanks</h2>
							<iframe
								src="{{ .Params.formURL}}"
								width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
						</div>
					</div>
				</article><!-- #post-## -->
			</div>
		</div> <!-- /row post  -->

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="share">
					{{ if .Params.Share }}
							{{ partial "sharethis.html" . }}
					{{ end }}
				</div>
			</div>
		</div> <!-- /row share -->
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="comments">
					{{ if .Params.Comments }}
							{{ partial "disqus.html" . }}
					{{ end }}
				</div>
			</div>
		</div> <!-- /row comments -->
		<div class="clearfix"></div>

	</div>	<!-- /container -->

</main>
{{ end }}
